doctype html
html(lang="en")
head
    meta(charset="utf-8")
    title Weather
    link(rel="stylesheet", href="style.min.css")

body
    section
        .weather
            form.weather__form
                input.weather__input(type="text")
                input.weather__button(type="submit" value="Submit")
            
            .weather__current.weather__current--hidden
                h2.weather__location
                .weather__temperature
                .weather__details

            button.weather__get-hourly.weather__get-hourly--hidden Get Hourly Forecast
            .weather__hourly

    script(src="app.min.js")
